<adeq-login></adeq-login>
<ion-header *ngIf="!oUserProvider.booShowLoginForm">
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <span *ngIf="this.strMode == 'Table Groups'">Table Groups</span>
            <span *ngIf="this.strMode == 'Tables'">Tables in {{strSelectedTableGroup}}</span>
            <span *ngIf="this.strMode == 'Table Data'">Records in {{strSelectedTable}}</span>
            <span *ngIf="this.strMode == 'Fields'">Fields in {{strSelectedTable}}</span>
            <span *ngIf="booSystemAdminPermision && this.strMode == 'Admin'">Configuration Records</span>
            <span *ngIf="this.strMode == 'SQL'">Data Views in {{strSelectedTable}} </span>
            <span *ngIf="this.strMode == 'Execute SQL'">Records from SQL Report Command</span>

            <span *ngIf="oAppSettings.TestMode"> [TEST Data]</span>
            <ion-spinner style="position:absolute;right:20px" *ngIf="booShowSpinner" name="bubbles"></ion-spinner>
        </ion-title>
    </ion-navbar>
    <ion-toolbar>
        <span *ngIf="this.strMode == 'Table Data'">
            <button title="View Field Definitions in Table" ion-button round small icon-only clear (click)="viewFieldsInTable(strID, strSelectedTable)">
                <ion-icon name="list"></ion-icon>
            </button>
            <button title="View Data Views in Table" ion-button round small icon-only clear (click)="viewDataViewsInTable(strID, strSelectedTable)">
                <ion-icon name="eye"></ion-icon>
            </button>
            <button title="View Table Workflow" ion-button round small icon-only clear (click)="viewWorkflowInTable(strID, strSelectedTable)">
                <ion-icon name="people"></ion-icon>
            </button>
        </span>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar (ionInput)="getSearchResults()" [(ngModel)]="strCurrentSearchString"></ion-searchbar>
        <ion-buttons end>
            <button title='Refresh' ion-button small clear icon-only (click)="getRecords()">
                <ion-icon name="refresh"></ion-icon>
            </button>
            <button title='Admin Settings' *ngIf='booSystemAdminPermision' ion-button small clear icon-only (click)="viewConfigRecords()">
                <ion-icon name="settings"></ion-icon>
            </button>


            <ng-container *ngIf="this.strMode == 'Tables'">
                <button title="Edit Table Group" ion-button round small icon-only clear (click)="editTableGroup(strSelectedTableGroupID)">
                    <svg style="width:24px;height:24px;transform: scale(.8);" viewBox="0 0 24 24">
                        <path fill="#000000" d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" />
                    </svg>
                </button>
            </ng-container>

            <ng-container *ngIf="this.strMode == 'Table Data'">
                <button title="Edit Table Information" ion-button round small icon-only clear (click)="editTable(strID)">
                    <svg style="width:24px;height:24px;transform: scale(.8);" viewBox="0 0 24 24">
                        <path fill="#000000" d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" />
                    </svg>
                </button>
            </ng-container>

            <ng-container *ngIf="this.strMode == 'Table Groups'">
                <button ion-button small clear icon-only (click)="editTableGroup('')" title='Add Table Group'>
                    <ion-icon name="add-circle"></ion-icon>
                </button>
            </ng-container>
            <ng-container *ngIf="this.strMode == 'Tables' && booViewerRightForTableGroup">
                <button ion-button small clear icon-only (click)="editTable('')" title='Add Table'>
                    <ion-icon name="add-circle"></ion-icon>
                </button>
            </ng-container>
            <ng-container *ngIf="this.strMode == 'Fields' && booDesignerRightForTable && booDesignerRightForTableGroup">
                <button ion-button small clear icon-only (click)="editField('')" title='Add Field'>
                    <ion-icon name="add-circle"></ion-icon>
                </button>
            </ng-container>
            <ng-container *ngIf="this.strMode == 'Table Data' && booEditorRightForTable && booEditorRightForTableGroup">
                <button ion-button small clear icon-only (click)="editData('')" title='Add Record'>
                    <ion-icon name="add-circle"></ion-icon>
                </button>
            </ng-container>
            <ng-container *ngIf="this.strMode == 'Admin' && booSystemAdminPermision">
                <button ion-button small clear icon-only (click)="editAdminConfig('')" title='Add Congifuration Record'>
                    <ion-icon name="add-circle"></ion-icon>
                </button>
            </ng-container>
            <ng-container *ngIf="this.strMode == 'SQL'">
                <button ion-button small clear icon-only (click)="editDataView('')" title='Add Data View'>
                    <ion-icon name="add-circle"></ion-icon>
                </button>
            </ng-container>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<style>
    .odd {
        background-color: #f6f6f6;
    }
</style>
<ion-content *ngIf="!oUserProvider.booShowLoginForm" padding>
    <span *ngIf="oRecords && oRecords.length && oRecords.length > 0 && 
        (this.strMode == 'Table Groups' || this.strMode == 'Tables' || this.strMode == 'SQL')">
        <table class="rwd-table" style="width:100%">
            <tr>
                <th></th>
                <th>
                    <span *ngIf="this.strMode == 'Table Groups'">Table Group</span>
                    <span *ngIf="this.strMode == 'Tables'">Table</span>
                    <span *ngIf="this.strMode == 'SQL'">Data View</span>
                </th>
                <th>Comment</th>
            </tr>
            <tr *ngFor="let oRecord of oRecords; let index=index; let odd=odd;" [ngClass]="{ odd: odd }">
                <td width="10%" style="white-space: nowrap;">
                    <span *ngIf="this.strMode == 'SQL'">
                        <button title="Edit Data View" ion-button round small icon-only clear (click)="editDataView(oRecord.ID)">
                            <svg style="width:24px;height:24px;transform: scale(.6);" viewBox="0 0 24 24">
                                <path fill="#247ba0" d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" />
                            </svg>
                        </button>

                        <button title="Subscribe to SQL Report" ion-button round small icon-only clear (click)="clickedSQLReportSubscription(oRecord.ID)">
                            <ion-icon name="mail"></ion-icon>
                        </button>
                        <button title="Share SQL Report" ion-button round small icon-only clear (click)="clickedSQLReportSubscription(oRecord.ID)">
                            <!-- <ion-icon name="share"></ion-icon> -->
                            <svg style="width:24px;height:24px;transform: scale(.6);" viewBox="0 0 24 24">
                                <path fill="#247ba0" d="M18,16.08C17.24,16.08 16.56,16.38 16.04,16.85L8.91,12.7C8.96,12.47 9,12.24 9,12C9,11.76 8.96,11.53 8.91,11.3L15.96,7.19C16.5,7.69 17.21,8 18,8A3,3 0 0,0 21,5A3,3 0 0,0 18,2A3,3 0 0,0 15,5C15,5.24 15.04,5.47 15.09,5.7L8.04,9.81C7.5,9.31 6.79,9 6,9A3,3 0 0,0 3,12A3,3 0 0,0 6,15C6.79,15 7.5,14.69 8.04,14.19L15.16,18.34C15.11,18.55 15.08,18.77 15.08,19C15.08,20.61 16.39,21.91 18,21.91C19.61,21.91 20.92,20.61 20.92,19A2.92,2.92 0 0,0 18,16.08Z" />
                            </svg>
                        </button>
                    </span>
                </td>
                <td>
                    <span *ngIf="this.strMode == 'SQL'">
                        <button title="View Data" ion-button round small icon-left clear (click)="executeSQLRow(oRecord.ID)">
                            <ion-icon name="play"></ion-icon>
                            &nbsp;{{oRecord.Name}}
                        </button>
                    </span>
                    <span *ngIf="this.strMode == 'Table Groups'">
                        <button title="View Tables" *ngIf="oRecord.PinnedYN == 'Y'" ion-button round small icon-left
                            clear (click)="viewTablesInGroup(oRecord.ID, oRecord.Name)">
                            <ion-icon name="list"></ion-icon> &nbsp;<b>{{oRecord.Name}}</b>
                        </button>
                        <button title="View Tables" *ngIf="oRecord.PinnedYN != 'Y'" ion-button round small icon-left
                            clear (click)="viewTablesInGroup(oRecord.ID, oRecord.Name)">
                            <ion-icon name="list"></ion-icon> &nbsp;{{oRecord.Name}}
                        </button>
                    </span>
                    <span *ngIf="this.strMode == 'Tables'">
                        <button title="View Data" ion-button round small icon-left clear (click)="viewData(oRecord.ID, oRecord.Name)">
                            <svg style="width:24px;height:24px;transform: scale(.6);" viewBox="0 0 24 24">
                                <path fill="#247ba0" d="M4,3H20A2,2 0 0,1 22,5V20A2,2 0 0,1 20,22H4A2,2 0 0,1 2,20V5A2,2 0 0,1 4,3M4,7V10H8V7H4M10,7V10H14V7H10M20,10V7H16V10H20M4,12V15H8V12H4M4,20H8V17H4V20M10,12V15H14V12H10M10,20H14V17H10V20M20,20V17H16V20H20M20,12H16V15H20V12Z" />
                            </svg> &nbsp;{{oRecord.Name}}
                        </button>
                    </span>
                </td>
                <td data-th="Comment:">{{oRecord.Comment}}</td>
            </tr>
        </table>
    </span>


    <span *ngIf="this.strMode == 'Workflow' && oWorkflow && oWorkflow.WorkflowStepRecs && oWorkflow.WorkflowStepRecs.length && oWorkflow.WorkflowStepRecs.length > 0 && booDesignerRightForTable && booDesignerRightForTableGroup">
        <table class="rwd-table" style="width:100%">
            <tr>
                <th></th>
                <th>Step</th>
                <th>Users</th>
                <th>Fields</th>
                <th>Description</th>
                <th>Order</th>
            </tr>
            <tr *ngFor="let oWorkflowItem of oWorkflow.WorkflowStepRecs; let index=index; let odd=odd;" [ngClass]="{ odd: odd }">
                <td width="10%" style="white-space: nowrap;">
                    <button title="Edit" ion-button round small icon-only clear (click)="editWorkflowItem(oWorkflowItem.ID)">
                        <svg style="width:24px;height:24px;transform: scale(.6);" viewBox="0 0 24 24">
                            <path fill="#247ba0" d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" />
                        </svg>
                    </button>
                </td>
                <td>
                    {{oWorkflow.Name}}
                </td>
                <td>
                    {{oWorkflow.UserNames}}
                </td>
                <td>
                    {{oWorkflow.Fields}}
                </td>
                <td>
                    {{oWorkflow.Comment}}
                </td>
                <td>
                    <span style="float:right">
                        <button title="Move Up" type="button" ion-button small icon-only clear (click)="moveFieldUpList(index)">
                            <ion-icon name="arrow-up"></ion-icon>
                        </button>
                        <button title="Move Down" type="button" ion-button small icon-only clear (click)="moveFieldDownList(index)">
                            <ion-icon name="arrow-down"></ion-icon>
                        </button>
                        <button title="Move To Top" type="button" ion-button small icon-only clear (click)="moveFieldToTopOfList(index)">
                            <svg style="width:24px;height:24px;transform: scale(.6);" viewBox="0 0 24 24">
                                <path fill="#247ba0" d="M4.08,11.92L12,4L19.92,11.92L18.5,13.33L13,7.83V22H11V7.83L5.5,13.33L4.08,11.92M12,4H22V2H2V4H12Z" />
                            </svg>
                        </button>
                        <button title="Move To Bottom" type="button" ion-button small icon-only clear (click)="moveFieldToBottomOfList(index)">
                            <svg style="width:24px;height:24px;transform: scale(.6);" viewBox="0 0 24 24">
                                <path fill="#247ba0" d="M19.92,12.08L12,20L4.08,12.08L5.5,10.67L11,16.17V2H13V16.17L18.5,10.66L19.92,12.08M12,20H2V22H22V20H12Z" />
                            </svg>
                        </button>
                    </span>
                </td>
            </tr>
        </table>
    </span>


    <span *ngIf="oDataTable && oDataTable.Values && oDataTable.Values.length && oDataTable.Values.length > 0">
        <table class="rwd-table" style="width:100%">
            <tr>
                <th></th>
                <th *ngFor="let strNameOfField of oFieldRecords; let field_index=index;">
                    <span *ngIf="!strNameOfField.endsWith('______HTML')">
                        {{strNameOfField}}
                    </span>
                    <span *ngIf="strNameOfField.endsWith('______HTML')">
                        {{strNameOfField.replace('______HTML','')}}
                    </span>
                </th>

                <th *ngIf="this.strMode == 'Fields'"></th>
            </tr>
            <tr *ngFor="let oData of oDataTable.Values; let index=index; let odd=odd;" [ngClass]="{ odd: odd }">
                <td width="10%" style="white-space: nowrap;">
                    <span *ngIf="this.strMode == 'Fields' && booDesignerRightForTable && booDesignerRightForTableGroup">
                        <button title="Edit" ion-button round small icon-only clear (click)="editField(oData.system______id_number_for_field)">
                            <svg style="width:24px;height:24px;transform: scale(.6);" viewBox="0 0 24 24">
                                <path fill="#247ba0" d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" />
                            </svg>
                        </button>
                    </span>
                    <span *ngIf="this.strMode == 'Table Data' && booEditorRightForTable && booEditorRightForTableGroup">
                        <button title="Edit" ion-button round small icon-only clear (click)="editData(oData.system______row_id_number_for_table_data)">
                            <svg style="width:24px;height:24px;transform: scale(.6);" viewBox="0 0 24 24">
                                <path fill="#247ba0" d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" />
                            </svg>
                        </button>
                    </span>
                </td>
                <ng-container *ngFor="let strNameOfField of oFieldRecords;">
                    <td>
                        <span *ngIf="oData && oData[strNameOfField] && !strNameOfField.endsWith('______HTML')">
                            {{(oData[strNameOfField].length>700)? (oData[strNameOfField] |
                            slice:0:700)+'...':(oData[strNameOfField]) }}
                        </span>

                        <span *ngIf="oData && oData[strNameOfField] && strNameOfField.endsWith('______HTML')" 
                        [innerHtml]="oDomSanitizer.bypassSecurityTrustHtml((oData[strNameOfField].length>700)? (oData[strNameOfField] | slice:0:700)+'...':(oData[strNameOfField]))">
                        </span>
                    </td>
                </ng-container>
                <td>
                    <span style="float:right" *ngIf="this.strMode == 'Fields' && booDesignerRightForTable && booDesignerRightForTableGroup">
                        <button title="Move Up" type="button" ion-button small icon-only clear (click)="moveFieldUpList(index)">
                            <ion-icon name="arrow-up"></ion-icon>
                        </button>
                        <button title="Move Down" type="button" ion-button small icon-only clear (click)="moveFieldDownList(index)">
                            <ion-icon name="arrow-down"></ion-icon>
                        </button>
                        <button title="Move To Top" type="button" ion-button small icon-only clear (click)="moveFieldToTopOfList(index)">
                            <svg style="width:24px;height:24px;transform: scale(.6);" viewBox="0 0 24 24">
                                <path fill="#247ba0" d="M4.08,11.92L12,4L19.92,11.92L18.5,13.33L13,7.83V22H11V7.83L5.5,13.33L4.08,11.92M12,4H22V2H2V4H12Z" />
                            </svg>
                        </button>
                        <button title="Move To Bottom" type="button" ion-button small icon-only clear (click)="moveFieldToBottomOfList(index)">
                            <svg style="width:24px;height:24px;transform: scale(.6);" viewBox="0 0 24 24">
                                <path fill="#247ba0" d="M19.92,12.08L12,20L4.08,12.08L5.5,10.67L11,16.17V2H13V16.17L18.5,10.66L19.92,12.08M12,20H2V22H22V20H12Z" />
                            </svg>
                        </button>
                    </span>
                </td>
            </tr>
        </table>
    </span>

    <span *ngIf="booSystemAdminPermision && this.strMode == 'Admin' && oAdminConfigRecords && oAdminConfigRecords.length && oAdminConfigRecords.length > 0">
        <table class="rwd-table" style="width:100%">
            <tr>
                <th></th>
                <th>ID</th>
                <th>Parent ID</th>
                <th>Type</th>
                <th>Value</th>
                <th>Data Link ID</th>
            </tr>
            <tr *ngFor="let oRecord of oAdminConfigRecords; let index=index; let odd=odd;" [ngClass]="{ odd: odd }">
                <td width="10%" style="white-space: nowrap;">
                    <button title="Edit" ion-button round small icon-only clear (click)="editAdminConfig(oRecord.ID)">
                        <svg style="width:24px;height:24px;transform: scale(.6);" viewBox="0 0 24 24">
                            <path fill="#247ba0" d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" />
                        </svg>
                    </button>
                </td>
                <td>{{oRecord.ID}}</td>
                <td>{{oRecord.ParentID}}</td>
                <td>{{oRecord.Type}}</td>
                <td>{{oRecord.Value}}</td>
                <td>{{oRecord.DataLinkID}}</td>
            </tr>
        </table>
    </span>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>

<ion-footer *ngIf="!appIsOnline">
    <ion-toolbar color="danger" *ngIf="!appIsOnline">
        <ion-title>You are offline</ion-title>
    </ion-toolbar>
</ion-footer>