page-edit {
	.ui-float-label > input:focus ~ label,
	.ui-float-label > input.ui-state-filled ~ label,
	.ui-float-label > .ui-inputwrapper-focus ~ label,
	.ui-float-label > .ui-inputwrapper-filled ~ label {
		top: -.75em;
		font-size: 12px;
	}
	.ui-float-label > textarea:focus ~ label,
	.ui-float-label > textarea.ui-state-filled ~ label,
	.ui-float-label > .ui-textareawrapper-focus ~ label,
	.ui-float-label > .ui-textareawrapper-filled ~ label {
		top: -.75em;
		font-size: 12px;
	}

	.ql-editor {
		min-height: 150px;
		max-height: 400px;
		overflow-y: auto;
	}
}
