<adeq-login></adeq-login>
<ion-header *ngIf="!oUserProvider.booShowLoginForm">
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{strWindowTitle}} {{strDataMode}}
            <ion-spinner style="position:absolute;right:20px" *ngIf="booShowSpinner" name="bubbles"></ion-spinner>
        </ion-title>
    </ion-navbar>
    <ng-container *ngIf='strWindowMode == "Edit" || strWindowMode == "Add"'>
        <button icon-left small round ion-button clear (click)="addOrUpdateRecord()">
            <svg style="width:24px;height:24px;transform: scale(.6);" viewBox="0 0 24 24">
                <path fill="#247ba0" d="M15,5V9H5V19H9.35C8.5,18.27 8,17.19 8,16A4,4 0 0,1 12,12A4,4 0 0,1 16,16C16,17.19 15.5,18.27 14.65,19H19V7.83L16.17,5H15M5,7H13V5H5V7M17,3L21,7V19A2,2 0 0,1 19,21H5C3.89,21 3,20.1 3,19V5A2,2 0 0,1 5,3H17M12,14A2,2 0 0,0 10,16A2,2 0 0,0 12,18A2,2 0 0,0 14,16A2,2 0 0,0 12,14Z" />
            </svg>Save
        </button>
        <button icon-left small round ion-button clear type="button" *ngIf="booShowDeleteButton" (click)="deleteRecord()">
            <ion-icon name="trash"></ion-icon> Delete
        </button>
    </ng-container>
    <button icon-left small round ion-button clear type="button" *ngIf="strWindowMode != 'Add'" (click)="showAuditInfo()">
        <ion-icon name="information-circle"></ion-icon> Audit
    </button>
</ion-header>
<ion-content *ngIf="!oUserProvider.booShowLoginForm" padding>
    <form (ngSubmit)="addOrUpdateRecord()">
        <span *ngIf="oTableRecord">
            <span *ngIf="strDataMode == 'SQL'">
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <div style="color:red;padding-left:1em" *ngIf="arrControlWarnings['Name']">{{arrControlWarnings['Name']}}</div>
                            <!-- <ion-item>
                                <ion-label stacked>Title</ion-label>
                                <ion-input type="text" maxlength="3000" [(ngModel)]="oTableRecord.Name" name="Title"></ion-input>
                            </ion-item> -->
                            <span class="ui-float-label" style="margin-top:15px">
                                <input id="float-input-title" type="text" size="30" [(ngModel)]="oTableRecord.Name"
                                    name='Title' maxlength="3000" pInputText>
                                <label for="float-input-title">Title</label>
                            </span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <div style="color:red;padding-left:1em" *ngIf="arrControlWarnings['Comment']">{{arrControlWarnings['Comment']}}</div>
                            <!-- <ion-item>
                                <ion-label stacked>Comments</ion-label>
                                <ion-textarea type="text" maxlength="3000" autoresize="400" [(ngModel)]="oTableRecord.Comment" name="Comments"></ion-textarea>
                            </ion-item> -->
                            <span class="ui-float-label" style="margin-top:15px">
                                <textarea id="float-input-comments" class="ui-textareawrapper-filled" [rows]="5"
                                    maxlength="3000" pInputTextarea autoResize="autoResize" [(ngModel)]="oTableRecord.Comment"
                                    name="Comments" style="max-height: 200px;width:100%"></textarea>
                                <label for="float-input-comments">Comments</label>
                            </span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <h3>Data View SQL</h3>
                                <ngx-codemirror [(ngModel)]="oTableRecord.SQLDataView" name="SQLDataView" [config]="{ 
                                lineNumbers: true, 
                                indentWithTabs: true,
                                smartIndent: true,
                                matchBrackets : true,
                                theme: 'material', 
                                autofocus: true,
                                mode: 'text/x-mssql',
                                extraKeys: {'Ctrl-Space': 'autocomplete'}
                                }">
                                </ngx-codemirror>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </span>
            <span *ngIf="strDataMode == 'Table Group' || strDataMode == 'Table'">
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <div style="color:red;padding-left:1em" *ngIf="arrControlWarnings['Name']">{{arrControlWarnings['Name']}}</div>
                            <!-- <ion-item>
                                <ion-label stacked>Title</ion-label>
                                <ion-input type="text" maxlength="3000" [(ngModel)]="oTableRecord.Name" name="Title"></ion-input>
                            </ion-item> -->
                            <span class="ui-float-label" style="margin-top:15px">
                                <input [disabled]='strWindowMode == "View"' id="float-input-title" type="text" size="30"
                                    [(ngModel)]="oTableRecord.Name" name='Title' maxlength="3000" pInputText>
                                <label for="float-input-title">Title</label>
                            </span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <div style="color:red;padding-left:1em" *ngIf="arrControlWarnings['Comment']">{{arrControlWarnings['Comment']}}</div>
                            <!-- <ion-item>
                                <ion-label stacked>Comments</ion-label>
                                <ion-textarea type="text" maxlength="3000" autoresize="400" [(ngModel)]="oTableRecord.Comment" name="Comments"></ion-textarea>
                            </ion-item> -->
                            <span class="ui-float-label" style="margin-top:15px">
                                <textarea id="float-input-comments" class="ui-textareawrapper-filled" [rows]="5"
                                    maxlength="3000" pInputTextarea autoResize="autoResize" [(ngModel)]="oTableRecord.Comment"
                                    name="Comments" style="max-height: 200px;width:100%" [disabled]='strWindowMode == "View"'></textarea>
                                <label for="float-input-comments">Comments</label>
                            </span>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="strDataMode == 'Table Group'">
                        <ion-col>
                            <p-toggleButton onLabel="Pinned" offLabel="Not Pinned" onIcon="pi pi-check" offIcon="pi pi-times"
                                name='PinnedGroup' [(ngModel)]="oTableRecord.Pinned"></p-toggleButton>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <p-accordion [multiple]="true">
                                <p-accordionTab *ngIf="strDataMode == 'Table'" header="Table SQL Trigger">
                                    <ion-item>
                                        <h3>SQL Trigger</h3>
                                        <ng-container *ngIf="strWindowMode != 'View'">
                                            <ngx-codemirror [(ngModel)]="oTableRecord.Trigger" name="Trigger" [config]="{ 
                                                lineNumbers: true, 
                                                indentWithTabs: true,
                                                smartIndent: true,
                                                matchBrackets : true,
                                                theme: 'material', 
                                                autofocus: true,
                                                mode: 'text/x-mssql',
                                                extraKeys: {'Ctrl-Space': 'autocomplete'},
                                                readOnly: false
                                                }">
                                            </ngx-codemirror>
                                        </ng-container>
                                        <ng-container *ngIf="strWindowMode == 'View'">
                                            <ngx-codemirror [(ngModel)]="oTableRecord.Trigger" name="TriggerReadOnly"
                                                [config]="{ 
                                                lineNumbers: true, 
                                                indentWithTabs: true,
                                                smartIndent: true,
                                                matchBrackets : true,
                                                theme: 'material', 
                                                autofocus: true,
                                                mode: 'text/x-mssql',
                                                extraKeys: {'Ctrl-Space': 'autocomplete'},
                                                readOnly: true
                                                }">
                                            </ngx-codemirror>
                                        </ng-container>
                                    </ion-item>
                                </p-accordionTab>
                                <p-accordionTab header="Rights">
                                    <ion-col col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4 style="display:flex;align-items:center;">
                                        <span style="color:red;align-items:center;" *ngIf="arrControlWarnings['strTableViewersFullnames']">
                                            {{arrControlWarnings['strTableViewersFullnames']}}<br>
                                        </span>
                                        <p-panel header="View Rights">
                                            <ng-container *ngIf="strSelectedViewerRightsButtons == 'User List'">
                                                <span *ngIf='strTableViewersFullnames'>
                                                    <br>{{strTableViewersFullnames}}
                                                </span>
                                                <button *ngIf='strWindowMode != "View"' title="Select Viewers" type="button"
                                                    ion-button round small icon-only clear (click)="selectTableViewers()"
                                                    style="vertical-align:middle">
                                                    <ion-icon name="search"></ion-icon>
                                                </button>
                                            </ng-container>
                                            <br>
                                            <p-selectButton [disabled]='strWindowMode == "View"' [options]="oSelectItemViewerRightsButtons"
                                                [(ngModel)]="strSelectedViewerRightsButtons" name="strSelectedViewerRightsButtons"></p-selectButton>
                                            <br>
                                            <br>
                                        </p-panel>
                                    </ion-col>
                                    <ion-col col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4 style="display:flex;align-items:center;">
                                        <span style="color:red;align-items:center;" *ngIf="arrControlWarnings['strTableEditorsFullnames']">
                                            {{arrControlWarnings['strTableEditorsFullnames']}}<br>
                                        </span>
                                        <p-panel header="Add/Update/Delete Rights">
                                            <ng-container *ngIf="strSelectedEditorRightsButtons == 'User List'">
                                                <span *ngIf='strTableEditorsFullnames'>
                                                    <br>{{strTableEditorsFullnames}}
                                                </span>
                                                <button *ngIf='strWindowMode != "View"' title="Select Editors" type="button"
                                                    ion-button round small icon-only clear (click)="selectTableEditors()"
                                                    style="vertical-align:middle">
                                                    <ion-icon name="search"></ion-icon>
                                                </button>
                                            </ng-container>
                                            <br>
                                            <p-selectButton [disabled]='strWindowMode == "View"' [options]="oSelectItemEditorRightsButtons"
                                                [(ngModel)]="strSelectedEditorRightsButtons" name="strSelectedEditorRightsButtons"></p-selectButton>
                                            <br>
                                            <br>
                                        </p-panel>
                                    </ion-col>
                                    <ion-col col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4 style="display:flex;align-items:center;">
                                        <span style="color:red;align-items:center;" *ngIf="arrControlWarnings['strTableDesignersFullnames']">
                                            {{arrControlWarnings['strTableDesignersFullnames']}}<br>
                                        </span>
                                        <p-panel header="Design Rights">
                                            <ng-container *ngIf="strSelectedDesignerRightsButtons == 'User List'">
                                                <span *ngIf='strTableDesignersFullnames'>
                                                    <br>{{strTableDesignersFullnames}}
                                                </span>
                                                <button *ngIf='strWindowMode != "View"' title="Select Designers" type="button"
                                                    ion-button round small icon-only clear (click)="selectTableDesigners()"
                                                    style="vertical-align:middle">
                                                    <ion-icon name="search"></ion-icon>
                                                </button>
                                            </ng-container>
                                            <br>
                                            <p-selectButton [disabled]='strWindowMode == "View"' [options]="oSelectItemDesignerRightsButtons"
                                                [(ngModel)]="strSelectedDesignerRightsButtons" name="strSelectedDesignerRightsButtons"></p-selectButton>
                                            <br>
                                            <br>
                                        </p-panel>
                                    </ion-col>
                                </p-accordionTab>
                            </p-accordion>

                            <!-- 
                            <ion-item-group>
                                <ion-item-divider color="light">
                                    <span style="vertical-align: middle">
                                        Table SQL Trigger
                                    </span>
                                    <button title="Show Trigger" ion-button icon-only clear type="button" (click)="booShowTableTriggerSection = true" *ngIf='!booShowTableTriggerSection'>
                                        <svg style="width:24px;height:24px;transform: scale(.8);" viewBox="0 0 24 24">
                                            <path fill="#000000" d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"
                                            />
                                        </svg>
                                    </button>
                                    <button title="Hide Trigger" ion-button icon-only clear type="button" (click)="booShowTableTriggerSection = false" *ngIf='booShowTableTriggerSection'>
                                        <svg style="width:24px;height:24px;transform: scale(.8);" viewBox="0 0 24 24">
                                            <path fill="#000000" d="M17,13H7V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
                                        </svg>
                                    </button>
                                </ion-item-divider>
                                <span *ngIf='booShowTableTriggerSection'>
                                    <ion-item>
                                        <h3>SQL Trigger</h3>
                                        <ngx-codemirror [(ngModel)]="oTableRecord.Trigger" name="Trigger" [config]="{ 
                                        lineNumbers: true, 
                                        indentWithTabs: true,
                                        smartIndent: true,
                                        matchBrackets : true,
                                        theme: 'material', 
                                        autofocus: true,
                                        mode: 'text/x-mssql',
                                        extraKeys: {'Ctrl-Space': 'autocomplete'}
                                        }">
                                        </ngx-codemirror>
                                    </ion-item>
                                </span>
                            </ion-item-group>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="strDataMode == 'Table'">
                        <ion-col>

                            <ion-item-group>
                                <ion-item-divider color="light">
                                    <span style="vertical-align: middle">
                                        Table Rights
                                    </span>
                                    <button title="Show Rights" ion-button icon-only clear type="button" (click)="booShowTableRightsSection = true" *ngIf='!booShowTableRightsSection'>
                                        <svg style="width:24px;height:24px;transform: scale(.8);" viewBox="0 0 24 24">
                                            <path fill="#000000" d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"
                                            />
                                        </svg>
                                    </button>
                                    <button title="Hide Triggers" ion-button icon-only clear type="button" (click)="booShowTableRightsSection = false" *ngIf='booShowTableRightsSection'>
                                        <svg style="width:24px;height:24px;transform: scale(.8);" viewBox="0 0 24 24">
                                            <path fill="#000000" d="M17,13H7V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
                                        </svg>
                                    </button>
                                </ion-item-divider>
                                <span *ngIf='booShowTableRightsSection'>
                                    <ion-col col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4 style="display:flex;align-items:center;">
                                        <span>
                                            <span style="color:red;align-items:center;" *ngIf="arrControlWarnings['strTableViewersFullnames']">
                                                {{arrControlWarnings['strTableViewersFullnames']}}<br>
                                            </span>
                                            <h3>View Rights:</h3>
                                            <ng-container *ngIf="strSelectedViewerRightsButtons == 'User List'"> 
                                                <span>
                                                    <br>{{strTableViewersFullnames}}
                                                </span>
                                                <button title="Select Viewers" type="button" ion-button round small icon-only clear (click)="selectTableViewers()" style="vertical-align:middle">
                                                    <ion-icon name="search"></ion-icon>
                                                </button>
                                            </ng-container> 
                                            <br>
                                            <p-selectButton [options]="oSelectItemViewerRightsButtons" [(ngModel)]="strSelectedViewerRightsButtons" name="strSelectedViewerRightsButtons"></p-selectButton>
                                        </span>
                                    </ion-col>
                                    <ion-col col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4 style="display:flex;align-items:center;">
                                        <span>
                                            <span style="color:red;align-items:center;" *ngIf="arrControlWarnings['strTableEditorsFullnames']">
                                                {{arrControlWarnings['strTableEditorsFullnames']}}<br>
                                            </span>
                                            <h3>Add/Update/Delete Rights:</h3>
                                            <ng-container *ngIf="strSelectedEditorRightsButtons == 'User List'"> 
                                                <span>
                                                    <br>{{strTableEditorsFullnames}}
                                                </span>
                                                <button title="Select Editors" type="button" ion-button round small icon-only clear (click)="selectTableEditors()" style="vertical-align:middle">
                                                    <ion-icon name="search"></ion-icon>
                                                </button>
                                            </ng-container> 
                                            <br>
                                            <p-selectButton [options]="oSelectItemEditorRightsButtons" [(ngModel)]="strSelectedEditorRightsButtons" name="strSelectedEditorRightsButtons"></p-selectButton>
                                        </span>
                                    </ion-col>
                                    <ion-col col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4 style="display:flex;align-items:center;">
                                        <span>
                                            <span style="color:red;align-items:center;" *ngIf="arrControlWarnings['strTableDesignersFullnames']">
                                                {{arrControlWarnings['strTableDesignersFullnames']}}<br>
                                            </span>
                                            <h3>Design Rights:</h3>
                                            <ng-container *ngIf="strTableDesignersFullnames == 'User List'"> 
                                                <span>
                                                    <br>{{strTableDesignersFullnames}}
                                                </span>
                                                <button title="Select Designers" type="button" ion-button round small icon-only clear (click)="selectTableDesigners()" style="vertical-align:middle">
                                                    <ion-icon name="search"></ion-icon>
                                                </button>
                                            </ng-container> 
                                            <br>
                                            <p-selectButton [options]="oSelectItemDesignerRightsButtons" [(ngModel)]="strSelectedDesignerRightsButtons" name="strSelectedDesignerRightsButtons"></p-selectButton>
                                        </span>
                                    </ion-col>
                                </span>
                            </ion-item-group>-->
                        </ion-col>

                    </ion-row>
                </ion-grid>
            </span>
        </span>
        <span *ngIf="oFieldRecord && strDataMode == 'Field'">
            <ion-grid>
                <ion-row>
                    <ion-col col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4>
                        <span>
                            <span style="color:red;align-items:center;" *ngIf="arrControlWarnings['Type']">
                                {{arrControlWarnings['Type']}}<br>
                            </span>
                            <span>
                                <span style="font-size:12px; color:#898989;">Type:</span>
                                <ng-container *ngIf="oFieldRecord.Type">
                                    <br>{{oFieldRecord.Type}}
                                </ng-container>
                            </span>
                            <button title="Select Type" type="button" ion-button round small icon-only clear (click)="selectFieldType()"
                                style="vertical-align:middle">
                                <ion-icon name="search"></ion-icon>
                            </button>
                        </span>
                        <!-- 
                        <div style="color:red;padding-left:1em" *ngIf="arrControlWarnings['Type']">{{arrControlWarnings['Type']}}</div>
                        <ion-item *ngIf="oFieldTypes">
                            <ion-label stacked>Type</ion-label>
                            <ion-select (ionChange)="onFieldTypeSelected()" interface="popover" [(ngModel)]="oFieldRecord.TypeID"
                                style="width:30rem;align-self:left" name="FieldType">
                                <ion-option value=""></ion-option>
                                <ng-container *ngFor="let oType of oFieldTypes.Values;">
                                    <ion-option value="{{oType.ID}}">{{oType.Value}}</ion-option>
                                </ng-container>
                            </ion-select>
                        </ion-item> -->
                    </ion-col>

                    <ion-col col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4 *ngIf='oFieldRecord.TypeSystemName == "choice"'>
                        <!-- <ion-item>
                            <ion-label stacked>Choice List</ion-label>
                            <ion-textarea rows="4" type="text" maxlength="3000" autoresize="400" [(ngModel)]="oFieldRecord.ChoiceList" name="ChoiceList"></ion-textarea>
                        </ion-item> -->
                        <span class="ui-float-label" style="margin-top:15px">
                            <textarea id="float-input-comments" class="ui-textareawrapper-filled" [rows]="5" maxlength="3000"
                                pInputTextarea autoResize="autoResize" [(ngModel)]="oFieldRecord.ChoiceList" name="ChoiceList"
                                style="max-height: 200px;width:100%"></textarea>
                            <label for="float-input-comments">Choice List</label>
                        </span>
                    </ion-col>

                    <ion-col col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4 *ngIf='oFieldRecord.SQLCodeLookupID || oFieldRecord.TypeSystemName == "choice"'>
                        <ion-item>
                            <ion-label stacked>Allow Multiple Selections</ion-label>
                            <ion-checkbox [(ngModel)]="oFieldRecord.CodeMultiSelection" name='CodeMultiSelection'></ion-checkbox>
                        </ion-item>
                    </ion-col>

                    <ion-col col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4>
                        <div style="color:red;padding-left:1em" *ngIf="arrControlWarnings['Name']">{{arrControlWarnings['Name']}}</div>
                        <!-- <ion-item>
                            <ion-label stacked>Title</ion-label>
                            <ion-input type="text" maxlength="3000" [(ngModel)]="oFieldRecord.Name" name="Name"></ion-input>
                        </ion-item> -->
                        <span class="ui-float-label" style="margin-top:15px">
                            <input id="float-input-title" type="text" size="30" [(ngModel)]="oFieldRecord.Name" name='Name'
                                maxlength="3000" pInputText>
                            <label for="float-input-title">Title</label>
                        </span>
                    </ion-col>
                    <ion-col col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4>
                        <div style="color:red;padding-left:1em" *ngIf="arrControlWarnings['Tooltip']">{{arrControlWarnings['Tooltip']}}</div>
                        <!-- <ion-item>
                            <ion-label stacked>Tooltip</ion-label>
                            <ion-input type="text" maxlength="3000" [(ngModel)]="oFieldRecord.Tooltip" name="Tooltip"></ion-input>
                        </ion-item> -->
                        <span class="ui-float-label" style="margin-top:15px">
                            <input id="float-input-Tooltip" type="text" size="30" [(ngModel)]="oFieldRecord.Tooltip"
                                name='Tooltip' maxlength="3000" pInputText>
                            <label for="float-input-Tooltip">Tooltip</label>
                        </span>
                    </ion-col>
                    <ion-col col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4>
                        <div style="color:red;padding-left:1em" *ngIf="arrControlWarnings['Uniqueness']">{{arrControlWarnings['Uniqueness']}}</div>
                        <ion-item *ngIf="oFieldUniquenessTypes">
                            <ion-label stacked>Uniqueness</ion-label>
                            <ion-select interface="popover" [(ngModel)]="oFieldRecord.UniquenessID" style="width:30rem;align-self:left"
                                name="Uniqueness">
                                <ion-option value=""></ion-option>
                                <ng-container *ngFor="let oFieldUniquenessType of oFieldUniquenessTypes.Values;">
                                    <ion-option value="{{oFieldUniquenessType.ID}}">{{oFieldUniquenessType.Value}}</ion-option>
                                </ng-container>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                    <ion-col col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4>
                        <div style="color:red;padding-left:1em" *ngIf="arrControlWarnings['Required']">{{arrControlWarnings['Required']}}</div>
                        <ion-item *ngIf="oFieldRequiredTypes">
                            <ion-label stacked>Required</ion-label>
                            <ion-select interface="popover" [(ngModel)]="oFieldRecord.RequiredTypeID" style="width:30rem;align-self:left"
                                name="Required">
                                <ion-option value=""></ion-option>
                                <ng-container *ngFor="let oFieldRequiredType of oFieldRequiredTypes.Values;">
                                    <ion-option value="{{oFieldRequiredType.ID}}">{{oFieldRequiredType.Value}}</ion-option>
                                </ng-container>
                            </ion-select>
                        </ion-item>
                    </ion-col>


                    <ion-col col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4>
                        <ion-item>
                            <ion-label stacked>Hide On Insert</ion-label>
                            <ion-checkbox [(ngModel)]="oFieldRecord.InsertHidden" name='InsertHidden'></ion-checkbox>
                        </ion-item>
                    </ion-col>


                </ion-row>
            </ion-grid>
        </span>
        <span *ngIf="oConfigField && strDataMode == 'Admin'">
            <ion-grid>
                <ion-row>
                    <ion-col col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4>
                        <ion-item>
                            <ion-label stacked>ID</ion-label>
                            <ion-input type="text" maxlength="3000" [(ngModel)]="oConfigField.ID" readonly='true' name="ID"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4>
                        <div style="color:red;padding-left:1em" *ngIf="arrControlWarnings['ParentID']">{{arrControlWarnings['ParentID']}}</div>
                        <ion-item>
                            <ion-label stacked>Parent ID</ion-label>
                            <ion-input type="text" maxlength="3000" [(ngModel)]="oConfigField.ParentID" name="ParentID"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4>
                        <div style="color:red;padding-left:1em" *ngIf="arrControlWarnings['Type']">{{arrControlWarnings['Type']}}</div>
                        <ion-item>
                            <ion-label stacked>Type</ion-label>
                            <ion-input type="text" maxlength="3000" [(ngModel)]="oConfigField.Type" name="Type"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                        <div style="color:red;padding-left:1em" *ngIf="arrControlWarnings['Value']">{{arrControlWarnings['Value']}}</div>
                        <ion-item>
                            <!-- <h3>Value</h3> -->
                            <div style="color:gray;font-size:16px;padding:8px">
                                Value
                            </div>
                            <!-- <ion-input type="text" maxlength="3000" [(ngModel)]="oConfigField.Value" name="Value"></ion-input> -->
                            <ngx-codemirror [(ngModel)]="oConfigField.Value" name="Value" [config]="{ 
                            lineNumbers: true, 
                            indentWithTabs: true,
                            smartIndent: true,
                            matchBrackets : true,
                            theme: 'material', 
                            autofocus: false,
                            mode: 'text/x-mssql',
                            extraKeys: {'Ctrl-Space': 'autocomplete'}
                            }">
                            </ngx-codemirror>
                        </ion-item>
                    </ion-col>
                    <ion-col col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4>
                        <div style="color:red;padding-left:1em" *ngIf="arrControlWarnings['DataLinkID']">{{arrControlWarnings['DataLinkID']}}</div>
                        <ion-item>
                            <ion-label stacked>DataLinkID</ion-label>
                            <ion-input type="text" maxlength="3000" [(ngModel)]="oConfigField.DataLinkID" name="DataLinkID"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </span>



        <span *ngIf="oWorkflow && strDataMode == 'Workflow'">
            <ion-grid>
                <ion-row>
                    <ion-col col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4>
                        <div style="color:red;padding-left:1em" *ngIf="arrControlWarnings['ParentID']">{{arrControlWarnings['ParentID']}}</div>
                        <ion-item>
                            <ion-label stacked>Parent ID</ion-label>
                            <ion-input type="text" maxlength="3000" [(ngModel)]="oConfigField.ParentID" name="ParentID"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4>
                        <div style="color:red;padding-left:1em" *ngIf="arrControlWarnings['Type']">{{arrControlWarnings['Type']}}</div>
                        <ion-item>
                            <ion-label stacked>Type</ion-label>
                            <ion-input type="text" maxlength="3000" [(ngModel)]="oConfigField.Type" name="Type"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                        <div style="color:red;padding-left:1em" *ngIf="arrControlWarnings['Value']">{{arrControlWarnings['Value']}}</div>
                        <ion-item>
                            <!-- <h3>Value</h3> -->
                            <div style="color:gray;font-size:16px;padding:8px">
                                Value
                            </div>
                            <!-- <ion-input type="text" maxlength="3000" [(ngModel)]="oConfigField.Value" name="Value"></ion-input> -->
                            <ngx-codemirror [(ngModel)]="oConfigField.Value" name="Value" [config]="{ 
                            lineNumbers: true, 
                            indentWithTabs: true,
                            smartIndent: true,
                            matchBrackets : true,
                            theme: 'material', 
                            autofocus: false,
                            mode: 'text/x-mssql',
                            extraKeys: {'Ctrl-Space': 'autocomplete'}
                            }">
                            </ngx-codemirror>
                        </ion-item>
                    </ion-col>
                    <ion-col col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4>
                        <div style="color:red;padding-left:1em" *ngIf="arrControlWarnings['DataLinkID']">{{arrControlWarnings['DataLinkID']}}</div>
                        <ion-item>
                            <ion-label stacked>DataLinkID</ion-label>
                            <ion-input type="text" maxlength="3000" [(ngModel)]="oConfigField.DataLinkID" name="DataLinkID"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </span>


        <span *ngIf="strDataMode == 'Data'">
            <ion-grid *ngIf="oDataRowRecord && oFieldRecords && oFieldRecords.Values && oFieldRecords.Values.length > 0">
                <ion-row>
                    <ng-container *ngFor="let oField of oFieldRecords.Values;">
                        <ng-container *ngIf='!(oField.InsertHiddenYN == "Y" && strWindowMode == "Add")'>
                            <ng-container style="display: none" *ngIf="checkRegExFailureForField(oField.Name, oDataRowRecord.Values[oField.Name], oField.RegEx, oField.RegExFailMessage)"></ng-container>
                            <ng-container *ngIf='
                            oField.SQLCodeLookupID'>
                                <ion-col col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4 style="display:flex;align-items:center;">
                                    <span>
                                        <span style="color:red;align-items:center;" *ngIf="arrControlWarnings[oField.Name]">
                                            {{arrControlWarnings[oField.Name]}}<br>
                                        </span>
                                        <span>
                                            <span style="font-size:12px; color:#898989;">{{oField.Name}}:</span>
                                            <ng-container *ngIf="oSelectedLookupValuesLabelGroup && oSelectedLookupValuesLabelGroup[oField.Name]">
                                                <br>{{oSelectedLookupValuesLabelGroup[oField.Name]}}
                                            </ng-container>
                                        </span>
                                        <button title="Select {{oField.Name}}" type="button" ion-button round small
                                            icon-only clear (click)="selectItemFromLookup(oField)" style="vertical-align:middle">
                                            <ion-icon name="search"></ion-icon>
                                        </button>
                                    </span>
                                </ion-col>
                            </ng-container>
                            <ng-container *ngIf='oField.ChoiceList && oField.CodeMultiSelection != "Y"'>
                                <ion-col col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4>
                                    <div style="color:red;padding-left:1em" *ngIf="arrControlWarnings[oField.Name]">
                                        {{arrControlWarnings[oField.Name]}}
                                    </div>
                                    <ion-item>
                                        <ion-label stacked>{{oField.Name}}</ion-label>
                                        <ion-select interface="popover" [(ngModel)]="oDataRowRecord.Values[oField.Name]"
                                            name="{{oField.Name}}" style="width:30rem;align-self:left">
                                            <ng-container *ngFor="let strChoice of oField.ChoiceList.split('\n');">
                                                <ng-container *ngIf="strChoice && strChoice.trim() && strChoice.trim().length > 0">
                                                    <ion-option value="{{strChoice}}">{{strChoice}}</ion-option>
                                                </ng-container>
                                            </ng-container>
                                        </ion-select>
                                    </ion-item>
                                </ion-col>
                            </ng-container>
                            <ng-container *ngIf='oField.ChoiceList && oField.CodeMultiSelection == "Y"'>
                                <ion-col col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4>
                                    <div style="color:red;padding-left:1em" *ngIf="arrControlWarnings[oField.Name]">
                                        {{arrControlWarnings[oField.Name]}}
                                    </div>
                                    <ion-item>
                                        <ion-label stacked>{{oField.Name}}</ion-label>
                                        <ion-select (ionChange)="onChoiceSelected(oField)" interface="popover" multiple="true"
                                            [(ngModel)]="oDataRowRecord.Values[oField.Name + '_choice_array']" name="{{oField.Name}}"
                                            style="width:30rem;align-self:left">
                                            <ng-container *ngFor="let strChoice of oField.ChoiceList.split('\n');">
                                                <ng-container *ngIf="strChoice && strChoice.trim() && strChoice.trim().length > 0">
                                                    <ion-option value="{{strChoice}}">{{strChoice}}</ion-option>
                                                </ng-container>
                                            </ng-container>
                                        </ion-select>
                                    </ion-item>
                                </ion-col>
                            </ng-container>



                            <ng-container *ngIf='oField.TypeSystemName == "date"'>
                                <ion-col col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4>
                                    <!-- <ion-col col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4>
                                <ion-grid>
                                    <ion-row>
                                        <ion-col col-3>
                                            <div style="color:red;padding-left:1em" *ngIf="arrControlWarnings[oField.Name]">{{arrControlWarnings[oField.Name]}}</div>
                                            <div style="color:gray;font-size:16px;padding:8px">
                                               {{oField.Name}} 
                                            </div>
                                        </ion-col>
                                        <ion-col col-9>
                                            <div> -->
                                    <!-- <input type="date" title='{{oField.Tooltip}}' [(ngModel)]="oDataRowRecord.Values[oField.Name]" name="{{oField.Name}}" style="border: 2px solid rgba(0, 0, 0, 0.5);margin:13px 8px;padding:8px;" />-->
                                    <!-- </div>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid> -->

                                    <span class="ui-float-label" style="margin-top:15px">
                                        <p-calendar id="float-input-date" [(ngModel)]="oDataRowRecord.Values[oField.Name]"
                                            title='{{oField.Tooltip}}' name="{{oField.Name}}" showButtonBar="true"></p-calendar>
                                        <label for="float-input-date">{{oField.Name}}</label>
                                    </span>
                                </ion-col>
                            </ng-container>
                            <ng-container *ngIf='oField.TypeSystemName == "html-formatted-text"'>
                                <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                                    <div style="color:red;padding-left:1em" *ngIf="arrControlWarnings[oField.Name]">
                                        {{arrControlWarnings[oField.Name]}}
                                    </div>
                                    <div style="color:gray;font-size:16px;padding:8px">
                                        {{oField.Name}}
                                    </div>
                                    <div>
                                        <quill [(value)]="oDataRowRecord.Values[oField.Name]">
                                            <div quillToolbar>
                                            </div>
                                            <div quillContent>
                                            </div>
                                        </quill>
                                    </div>
                                </ion-col>
                            </ng-container>
                            <ng-container *ngIf='oField.TypeSystemName == "html-formatted-text-long"'>
                                <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                                    <ion-grid>
                                        <ion-row>
                                            <ion-col col-3>
                                                <div style="color:red;padding-left:1em" *ngIf="arrControlWarnings[oField.Name]">
                                                    {{arrControlWarnings[oField.Name]}}
                                                </div>
                                                <div style="color:gray;font-size:16px;padding:8px">
                                                    {{oField.Name}}
                                                </div>
                                            </ion-col>
                                            <ion-col col-9>
                                                <div>
                                                    <quill (valueChange)="formValueChanged($event)" [(value)]="oDataRowRecord.Values[oField.Name]">
                                                        <div quillToolbar>
                                                        </div>
                                                        <div quillContent>
                                                        </div>
                                                    </quill>
                                                </div>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </ion-col>
                            </ng-container>
                            <ng-container *ngIf='oField.TypeSystemName == "date-and-time"'>
                                <ion-col col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4>
                                    <!-- Date and Time -->
                                    <!-- <ion-col col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4>
                                <ion-grid>
                                    <ion-row>
                                        <ion-col col-3>
                                            <div style="color:red;padding-left:1em" *ngIf="arrControlWarnings[oField.Name]">{{arrControlWarnings[oField.Name]}}</div>
                                            <div style="color:gray;font-size:16px;padding:8px">
                                               {{oField.Name}} 
                                            </div>
                                        </ion-col>
                                        <ion-col col-9>
                                            <div> -->
                                    <!-- <input type="date" title='{{oField.Tooltip}}' [(ngModel)]="oDataRowRecord.Values[oField.Name + 'DatePart']" name="{{oField.Name}}DatePart" style="border: 2px solid rgba(0, 0, 0, 0.5);margin:13px 8px;padding:8px;"
                                                />
                                                <br>
                                                <input type="time" title='{{oField.Tooltip}}' [(ngModel)]="oDataRowRecord.Values[oField.Name + 'TimePart']" name="{{oField.Name}}TimePart" style="border: 2px solid rgba(0, 0, 0, 0.5);margin:13px 8px;padding:8px;"
                                                /> -->

                                    <!-- </div>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid> -->

                                    <span class="ui-float-label" style="margin-top:15px">
                                        <p-calendar id='float-input-date-and-time' title='{{oField.Tooltip}}'
                                            [(ngModel)]="oDataRowRecord.Values[oField.Name]" [showTime]="true"
                                            [hourFormat]="12" name="{{oField.Name}}"></p-calendar>
                                        <label for="float-input-date-and-time">{{oField.Name}}</label>
                                    </span>
                                </ion-col>
                            </ng-container>
                            <ng-container *ngIf='oField.TypeSystemName == "date-and-time-future-only"'>
                                <ion-col col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4>
                                    <span class="ui-float-label" style="margin-top:15px">
                                        <p-calendar id='float-input-date-and-time' title='{{oField.Tooltip}}'
                                            [(ngModel)]="oDataRowRecord.Values[oField.Name]" [showTime]="true"
                                            [hourFormat]="12" name="{{oField.Name}}"></p-calendar>
                                        <label for="float-input-date-and-time">{{oField.Name}}</label>
                                    </span>
                                </ion-col>
                            </ng-container>
                            <ng-container *ngIf='oField.TypeSystemName == "date-and-time-past-only"'>
                                <ion-col col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4>
                                    <span class="ui-float-label" style="margin-top:15px">
                                        <p-calendar id='float-input-date-and-time' title='{{oField.Tooltip}}'
                                            [(ngModel)]="oDataRowRecord.Values[oField.Name]" showTime="true" hourFormat="12"
                                            showButtonBar="true" name="{{oField.Name}}"></p-calendar>
                                        <label for="float-input-date-and-time">{{oField.Name}}</label>
                                    </span>
                                </ion-col>
                            </ng-container>
                            <ng-container *ngIf='oField.TypeSystemName == "start-date-and-end-date"'>
                                <ion-col col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4>
                                    <ion-grid>
                                        <ion-row>
                                            <ion-col col-3>
                                                <div style="color:red;padding-left:1em" *ngIf="arrControlWarnings[oField.Name]">{{arrControlWarnings[oField.Name]}}</div>
                                                <div style="color:gray;font-size:16px;padding:8px">
                                                    {{oField.Name}}
                                                </div>
                                            </ion-col>
                                            <ion-col col-9>
                                                <div>
                                                    <input type="date" title='{{oField.Tooltip}}' [(ngModel)]="oDataRowRecord.Values[oField.Name + '_StartDate']"
                                                        name="{{oField.Name}}_StartDate" style="border: 2px solid rgba(0, 0, 0, 0.5);margin:13px 8px;padding:8px;" />(Start)
                                                    <br>
                                                    <input type="date" title='{{oField.Tooltip}}' [(ngModel)]="oDataRowRecord.Values[oField.Name + '_EndDate']"
                                                        name="{{oField.Name}}_EndDate" style="border: 2px solid rgba(0, 0, 0, 0.5);margin:13px 8px;padding:8px;" />(End)
                                                </div>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </ion-col>
                            </ng-container>
                            <ng-container *ngIf='oField.TypeSystemName == "start-time-and-end-time"'>
                                <ion-col col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4>
                                    <ion-grid>
                                        <ion-row>
                                            <ion-col col-3>
                                                <div style="color:red;padding-left:1em" *ngIf="arrControlWarnings[oField.Name]">{{arrControlWarnings[oField.Name]}}</div>
                                                <div style="color:gray;font-size:16px;padding:8px">
                                                    {{oField.Name}}
                                                </div>
                                            </ion-col>
                                            <ion-col col-9>
                                                <div>
                                                    <input type="date" title='{{oField.Tooltip}}' [(ngModel)]="oDataRowRecord.Values[oField.Name + '_StartDate']"
                                                        name="{{oField.Name}}_StartDate" style="border: 2px solid rgba(0, 0, 0, 0.5);margin:13px 8px;padding:8px;" />
                                                    <input type="time" title='{{oField.Tooltip}}' [(ngModel)]="oDataRowRecord.Values[oField.Name + '_StartTime']"
                                                        name="{{oField.Name}}_StartTime" style="border: 2px solid rgba(0, 0, 0, 0.5);margin:13px 8px;padding:8px;" />(Start)
                                                    <br>
                                                    <input type="date" title='{{oField.Tooltip}}' [(ngModel)]="oDataRowRecord.Values[oField.Name + '_EndDate']"
                                                        name="{{oField.Name}}_EndDate" style="border: 2px solid rgba(0, 0, 0, 0.5);margin:13px 8px;padding:8px;" />
                                                    <input type="time" title='{{oField.Tooltip}}' [(ngModel)]="oDataRowRecord.Values[oField.Name + '_EndTime']"
                                                        name="{{oField.Name}}_EndTime" style="border: 2px solid rgba(0, 0, 0, 0.5);margin:13px 8px;padding:8px;" />(End)
                                                </div>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </ion-col>
                            </ng-container>
                            <ng-container *ngIf='oField.TypeSystemName == "date-future-only"'>
                                <ion-col col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4>
                                    <ion-grid>
                                        <ion-row>
                                            <ion-col col-3>
                                                <div style="color:red;padding-left:1em" *ngIf="arrControlWarnings[oField.Name]">{{arrControlWarnings[oField.Name]}}</div>
                                                <div style="color:gray;font-size:16px;padding:8px">
                                                    {{oField.Name}}
                                                </div>
                                            </ion-col>
                                            <ion-col col-9>
                                                <div>
                                                    <input type="date" title='{{oField.Tooltip}}' [(ngModel)]="oDataRowRecord.Values[oField.Name]"
                                                        name="{{oField.Name}}" style="border: 2px solid rgba(0, 0, 0, 0.5);margin:13px 8px;padding:8px;" />
                                                </div>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </ion-col>
                            </ng-container>
                            <ng-container *ngIf='oField.TypeSystemName == "date-past-only"'>
                                <ion-col col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4>
                                    <ion-grid>
                                        <ion-row>
                                            <ion-col col-3>
                                                <div style="color:red;padding-left:1em" *ngIf="arrControlWarnings[oField.Name]">{{arrControlWarnings[oField.Name]}}</div>
                                                <div style="color:gray;font-size:16px;padding:8px">
                                                    {{oField.Name}}
                                                </div>
                                            </ion-col>
                                            <ion-col col-9>
                                                <div>
                                                    <input type="date" title='{{oField.Tooltip}}' [(ngModel)]="oDataRowRecord.Values[oField.Name]"
                                                        name="{{oField.Name}}" style="border: 2px solid rgba(0, 0, 0, 0.5);margin:13px 8px;padding:8px;" />
                                                </div>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </ion-col>
                            </ng-container>
                            <ng-container *ngIf='!oField.SQLMultiCodeLookupID && !oField.SQLCodeLookupID'>
                                <ion-col col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4 *ngIf='oField.TypeSystemName == "letters-only" || oField.TypeSystemName == "money" || oField.TypeSystemName == "numbers-only" || oField.TypeSystemName == "regex"  || oField.TypeSystemName == "positive-decimal-number" || oField.TypeSystemName == "positive-integer" || oField.TypeSystemName == "positive-or-negative-decimal-number" || oField.TypeSystemName == "positive-or-negative-integer" || oField.TypeSystemName == "text-max-length-1" || oField.TypeSystemName == "text-max-length-1000" || oField.TypeSystemName == "text-max-length-10" || oField.TypeSystemName == "text-max-length-100" || oField.TypeSystemName == "text-max-length-20" || oField.TypeSystemName == "text-max-length-3000" || oField.TypeSystemName == "website-address" || oField.TypeSystemName == "us-zip-code" || oField.TypeSystemName == "us-zip-code+4" || oField.TypeSystemName == "email-address" || oField.TypeSystemName == "email-address-list"'>
                                    <!-- 115 Letters Only, 94 Money, 114 Numbers Only, 66 Pattern (RegEx), 52 Positive Decimal Number, 51 Positive Integer, 
                                108 Positive or Negative Decimal Number, 107 Positive or Negative Integer, 58 Text (Max length 1), 
                                63 Text (Max length 1,000), 59 Text (Max length 10), 61 Text (Max length 100), 60 Text (Max length 20), 
                                62 Text (Max length 300), 113 Website Address, 110 Zip Code, 111 Zip Code +4, 112 Email Address, 418 Email Address List-->
                                    <div style="color:red;padding-left:1em" *ngIf="arrControlWarnings[oField.Name]">{{arrControlWarnings[oField.Name]}}</div>
                                    <!-- <ion-item>
                                    <ion-label stacked>{{oField.Name}}</ion-label>
                                    <ion-input type="text" maxlength="1000" title='{{oField.Tooltip}}' [(ngModel)]="oDataRowRecord.Values[oField.Name]" name="{{oField.Name}}"></ion-input>
                                </ion-item> -->

                                    <span class="ui-float-label" style="margin-top:15px">
                                        <input id="float-input-{{oField.Name}}" type="text" size="30" [(ngModel)]="oDataRowRecord.Values[oField.Name]"
                                            name='{{oField.Name}}' maxlength="1000" pInputText>
                                        <label for="float-input-{{oField.Name}}">{{oField.Name}}</label>
                                    </span>

                                </ion-col>
                                <ion-col col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4 *ngIf='oField.TypeSystemName == "text-max-length-3000"'>
                                    <!-- <ion-item>
                                    <ion-label stacked>{{oField.Name}}</ion-label>
                                    <ion-textarea rows="4" type="text" maxlength="3000" title='{{oField.Tooltip}}' autoresize="400" [(ngModel)]="oDataRowRecord.Values[oField.Name]"
                                        name="{{oField.Name}}" style="max-height: 200px"></ion-textarea>
                                </ion-item> -->

                                    <span class="ui-float-label" style="margin-top:15px">
                                        <input id="float-input-{{oField.Name}}" type="text" size="30" [(ngModel)]="oDataRowRecord.Values[oField.Name]"
                                            name='{{oField.Name}}' maxlength="3000" pInputText>
                                        <label for="float-input-{{oField.Name}}">{{oField.Name}}</label>
                                    </span>
                                </ion-col>
                                <ion-col col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4 *ngIf='oField.TypeSystemName == "text-max-length-8000"'>
                                    <!-- <ion-item>
                                    <ion-label stacked>{{oField.Name}}</ion-label>
                                    <ion-textarea rows="6" type="text" maxlength="8000" title='{{oField.Tooltip}}' autoresize="400" [(ngModel)]="oDataRowRecord.Values[oField.Name]"
                                        name="{{oField.Name}}" style="max-height: 200px"></ion-textarea>
                                </ion-item> -->
                                    <span class="ui-float-label" style="margin-top:15px">
                                        <input id="float-input-{{oField.Name}}" type="text" size="30" [(ngModel)]="oDataRowRecord.Values[oField.Name]"
                                            name='{{oField.Name}}' maxlength="8000" pInputText>
                                        <label for="float-input-{{oField.Name}}">{{oField.Name}}</label>
                                    </span>
                                </ion-col>
                                <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 *ngIf='oField.TypeSystemName == "text-very-long"'>
                                    <!-- <ion-item>
                                    <ion-label stacked>{{oField.Name}}</ion-label>
                                    <ion-textarea rows="8" type="text" title='{{oField.Tooltip}}' autoresize="400" [(ngModel)]="oDataRowRecord.Values[oField.Name]"
                                        name="{{oField.Name}}" style="max-height: 200px"></ion-textarea>
                                </ion-item> -->
                                    <span class="ui-float-label" style="margin-top:15px">
                                        <input id="float-input-{{oField.Name}}" type="text" size="30" [(ngModel)]="oDataRowRecord.Values[oField.Name]"
                                            name='{{oField.Name}}' pInputText>
                                        <label for="float-input-{{oField.Name}}">{{oField.Name}}</label>
                                    </span>
                                </ion-col>
                                <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 *ngIf='oField.TypeSystemName == "section-title"'>
                                    <h2>
                                        <!-- Section Title -->
                                        <br>
                                        <br> {{oField.Name}}
                                    </h2>
                                    <hr>
                                </ion-col>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </ion-row>
            </ion-grid>
        </span>

    </form>
</ion-content>
<ion-footer *ngIf="!appIsOnline">
    <ion-toolbar color="danger" *ngIf="!appIsOnline">
        <ion-title>You are offline</ion-title>
    </ion-toolbar>
</ion-footer>