<ion-header>
    <ion-navbar>
        <ion-title>
            Lookup List
            <button icon-left small round ion-button clear (click)="closePage()" style="float:right">
                <ion-icon name="close"></ion-icon>
                Close
            </button>
        </ion-title>
    </ion-navbar>
    <ion-searchbar placeholder="Search" (ionInput)="getSearch($event)"></ion-searchbar>
</ion-header>
<style>
    .odd {
        background-color: #f6f6f6cc;
    }
</style>
<ion-content>
    <div *ngFor="let oItem of arrDisplayCodeList.Values; let index=index; let odd=odd;">
        <ion-item *ngIf="booSelectMultiple" [ngClass]="{ odd: odd }">
            <ion-label>{{oItem.Label}}</ion-label>
            <ion-checkbox color="dark" [(ngModel)]="oItem.Selected"></ion-checkbox>
        </ion-item>
        <ion-item *ngIf="!booSelectMultiple" [ngClass]="{ odd: odd }">
            <button title="Select" icon-left small round ion-button clear (click)="singleItemSelected(index)">
                {{oItem.Label}}
            </button>
        </ion-item>
    </div>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>