<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item (click)="showAbout()"><ion-icon name="information-circle"></ion-icon>&nbsp;&nbsp;About</button>
      <button menuClose ion-item (click)="logout()"><ion-icon name="power"></ion-icon>&nbsp;&nbsp;Logout </button>
      <!-- <button menuClose ion-item (click)="exportSpreadsheet()"><ion-icon name="download"></ion-icon>&nbsp;&nbsp;Export Spreadsheet </button> -->
      <br>
      <br>
      <h4>&nbsp;Other Apps:</h4>
      <button menuClose ion-item *ngFor="let intranetLink of oIntranetLinks" (click)="openLink(intranetLink.URL)">
        {{intranetLink.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
