<span *ngIf="oUserProvider && oUserProvider.booShowLoginForm">
 <form [formGroup]="credentialsForm" (ngSubmit)="login()" style="max-width:350px">
    <ion-item>
      <ion-label stacked>User Name</ion-label>
      <ion-input formControlName="username" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-item *ngIf="booShowPhone">
      <ion-label stacked>Phone Number</ion-label>
      <ion-input formControlName="phone" type="text" placeholder="5015554444"></ion-input>
    </ion-item> 
    <div style="padding-left: 20px" *ngIf="booShowPhone">
This is your first time using Authy here. Please download and install <a href="https://authy.com/download/">Authy</a> on your computer or phone. Then enter the phone number you used to create your Authy account above and click Register. This will add 'ADEQ Intranet' to your Authy account.  You will need to enter a six digit code that is produced by Authy when you log in to the intranet and occasionally when doing updates.<br/><br/> 
    </div>
    <ion-item *ngIf="booShowAuthy">
      <ion-label stacked>Authy Token</ion-label>
      <ion-input formControlName="authyToken" type="text"></ion-input>
    </ion-item> 

    <ion-spinner *ngIf="booShowSpinner" style="margin-left:30px" icon="bubbles"></ion-spinner>
    <button *ngIf="!booShowSpinner && !booShowPhone" ion-button type="submit">Login</button>
    <button *ngIf="!booShowSpinner && booShowPhone" ion-button type="submit">Register</button>
  </form>
</span>